<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>地图缓存</title>
    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 600px;
            width: 600px;
        }
        #fileuploadDialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
        }
    </style>

</head>

<body>
    <div id="fileuploadDialog" style="display:none;">
      文件上传中...
    </div>
    <div id="viewDiv"></div>
    <br>
    <div>地图中心点：经度：<input id="mapLongitude" value="100" name="mapLongitude">纬度：<input id="mapLatitude" value="100" name="mapLatitude"> <button id="setMapCenterBtn">设置</button></div>
    <br>
    <div id="opt">
        <div id="mapURLDiv">
            <label for="mapUrl">地图源:</label>
            <select id="mapUrl" name="mapUrl">
                <option value="googleMap" >谷歌地图</option>
                <option value="AMap" selected>高德地图</option>
            </select>
        </div>
        <div id="mapURLChooseDiv">
            <label for="mapType">地图类型:</label>
            <select id="mapType" name="mapType">
                <option value="1" >卫星图</option>
                <option value="2" selected>路线图</option>
            </select>
            <br>
            <label for="parameterVal">更多参数：</label>
            <textarea id="parameterVal" name="parameterVal" rows="4" cols="50">
            </textarea>
            <br>
        </div>
        <input id="setMapProp" type="button" value="提交">
    </div>
    <!-- 导入arcgis -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.22/"></script>
    <!-- 引入jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/fileMapUpload.js"></script>
    <script src="/static/index.js"></script>
</body>

</html>
